{% extends 'auth_app/base.html' %}
{% load static %}
{% block main_block %}

<div class="d-flex justify-content-between mb-3">
    <h3 class="m-0">Login</h3>
    <a href="{% url 'auth_app:index' %}" class="btn btn-primary">Back</a>
</div>

{% if registered %}
    <div class="alert alert-success" role="alert">
        You have successfully registered!
    </div>
{% else %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group mt-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <input type="submit" name="submit" value="Login" class="btn btn-primary mt-3">
    </form>
{% endif %}

{% endblock %}